---
import Layout from 'src/layouts/Layout.astro';
const allPosts = await Astro.glob('/src/pages/posts/*.{md,mdx}');

console.log(allPosts);
---
<Layout
  title="Blog de una fotógrafa en Barcelona"
  description="Fotografía única en Barcelona: sesiones para parejas, familias e individuales. Capturamos momentos auténticos con estilo elegante."
  keywords="fotógrafa en Barcelona, sesiones fotográficas Barcelona, fotos de pareja Barcelona, fotografía familiar Barcelona, sesiones de fotos en Barcelona, fotografía de bodas Barcelona, fotos románticas Barcelona, retratos Barcelona"
>
    <section class="bg-white pb-10">
        <div class="mb-[4%] bg-cover bg-center bg-no-repeat mx-auto min-h-36 py-[6vw] bg-white/70 bg-blend-overlay" style="background-image: url(/public/img/36.webp); ">
            <h1 class="text-4xl text-center py-10 font-claster uppercase">
                Blog de un fotógrafo de bodas en Barcelona
            </h1>
        </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[3%] max-w-[1240px] mx-auto p-5">
        {allPosts.map((post) => {
        const imageSrc = post.frontmatter.image?.src || '/img/default-image.jpg'; 

        return (
            <a href={post.url} class="overflow-hidden flex flex-col transform transition-transform duration-300 hover:-translate-y-3">
            <div class="w-full h-auto overflow-hidden">
                <img
                decoding="async"
                src={imageSrc}
                alt={post.frontmatter.title}
                class="w-full h-[450px] object-cover"
                />
            </div>
            <div class="text-center my-2">
                {post.frontmatter.tags?.map((tag: string) => (
                <span class="font-semibold uppercase text-xs tracking-wide text-[#666] mx-1">{tag}</span>
                ))}
            </div>
            <h2 class="text-3xl text-center">{post.frontmatter.title}</h2>
            </a>
        );
        })}
    </div>
    </section>
</Layout>



