---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const timelineData = [];

for (let i = 1; i <= 4; i++) {
  timelineData.push({
    year: t(`about.timeline.year${i}`),
    title: t(`about.timeline.title${i}`),
    description: t(`about.timeline.description${i}`),
    imgSrc: t(`about.timeline.imgSrc${i}`),
    alignment: t(`about.timeline.alignment${i}`) as 'left' | 'right',
  });
}
---

<section class="my-40 flex flex-col justify-center items-center w-full">
  <h2 class="uppercase">{t('about.timelineTitle') ?? 'MI VIAJE HASTA AHORA'}</h2>
  <p>{t('about.timelineSubtitle') ?? 'DÓNDE EMPEZÓ TODO Y CÓMO VA AHORA'}</p>

  <!-- Timeline -->
  <div class="my-20 relative">
    <div class="absolute inset-0 flex justify-center">
      <div class="w-px bg-gray-500"></div>
    </div>

    {timelineData.map((item, index) => (
      <div class={`flex gap-x-3 w-full my-10 relative ${index % 2 === 0 ? 'flex-row' : 'flex-row-reverse'}`}>
        {item.alignment === 'left' ? (
          <>
            <div class="w-1/2 flex justify-end pr-6">
              <img src={item.imgSrc} alt={item.title} class="h-[350px] w-[400px] object-cover object-center" />
            </div>
            <div class="relative flex justify-center items-center w-12">
              <div class="relative z-10 size-7 flex justify-center items-center">
                <div class="size-2 rounded-full bg-gray-500"></div>
              </div>
              <div class="absolute after:content-[''] after:absolute after:top-7 after:bottom-0 after:w-px after:bg-gray-200 "></div>
            </div>
            <div class="flex flex-col w-1/2 pt-0.5 pb-8 justify-center pl-6">
              <h3 class="flex gap-x-1.5 ">
                {item.year}: {item.title}
              </h3>
              <p class="mt-1 ">{item.description}</p>
            </div>
          </>
        ) : (
          <>
            <div class="w-1/2 flex justify-start pl-6">
              <img src={item.imgSrc} alt={item.title} class="h-[350px] w-[400px] object-cover object-center" />
            </div>
            <div class="relative flex justify-center items-center w-12">
              <div class="relative z-10 size-7 flex justify-center items-center">
                <div class="size-2 rounded-full bg-gray-500 "></div>
              </div>
              <div class="absolute after:content-[''] after:absolute after:top-7 after:bottom-0 after:w-px after:bg-gray-200 "></div>
            </div>
            <div class="w-1/2 flex flex-col items-end justify-center pr-6">
              <h3 class="flex gap-x-1.5 text-right">
                {item.year}: {item.title}
              </h3>
              <p class="mt-1 text-right">
                {item.description}
              </p>
            </div>
          </>
        )}
      </div>
    ))}
  </div>

  <h3 class="uppercase">{t('about.timelineFuture') ?? '2024 & MÁS ALLÁ'}</h3>
</section>
