---
import Layout from "./Layout.astro";

const { frontmatter, url: currentUrl } = Astro.props;
const { title, pubDate, author, image, tags, gallery, proveedores, content } = frontmatter;

// Recuperar todos los posts y ordenarlos por fecha (de más reciente a más antiguo)
const allPosts = (await Astro.glob('/src/pages/posts/*.{md,mdx}'))
  .sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime());

// Encontrar el índice del post actual
const currentIndex = allPosts.findIndex(post => post.url === currentUrl);

// Obtener los enlaces anterior y siguiente, si existen
const previousPost = allPosts[currentIndex + 1]?.url || null;
const nextPost = allPosts[currentIndex - 1]?.url || null;

// Artículos relacionados (basados en etiquetas)
const relatedPosts = allPosts.filter(post =>
  post.frontmatter.tags?.some((tag: string) => tags?.includes(tag)) && post.url !== currentUrl
).slice(0, 3);

// SEO
const seoProps = {
  title: title || "Título por defecto",
  description: content || "Descripción por defecto",
  keywords: tags?.join(", ") || "palabras clave por defecto",
};
---

<Layout {...seoProps}>
  <div class="bg-white py-[4%]">
    <!-- Contenido del post -->
    <article class="max-w-7xl w-[80%] mx-auto">
      <header class="hero" style={image ? `--bg-url: url('${image.src}')` : undefined}>
        <h1 class="text-5xl text-slate-800">{title}</h1>
      </header>


      <!-- Imagen destacada (si hay) -->
      <section class="grid grid-cols-1 md:grid-cols-4 gap-10">
        <div class="md:col-span-1 py-32 pl-16 flex items-center">
          <!-- Proveedores -->
          <section class="proveedores">
            <ul class="font-eb italic text-lg text-slate-900 leading-[2.3em]">
              {proveedores?.map((proveedor: any) => (
                <li>
                  <p>
                    {proveedor.tipo}:
                    {proveedor.tipo === "Novios" || proveedor.tipo === "Fecha" ? (
                      <span>{proveedor.detalles?.nombres || proveedor.detalles?.fecha}</span>
                    ) : (
                      <a 
                        href={proveedor.detalles?.enlace || "#"} 
                        target="_blank" 
                        class="text-[#798a9b]"
                      >
                        {proveedor.detalles?.nombre}
                      </a>
                    )}
                  </p>
                </li>
              ))}
            </ul>
          </section>
        </div>
        <div class="md:col-span-3 leading-[2.3em] my-16 px-16 border-l-[1px] border-l-black">
          <slot />  
        </div> 
      </section>

      <!-- Galería de imágenes -->
      <section class="gallery grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {gallery
          ?.sort(() => Math.random() - 0.5)
          .map((photo: any) => (
            <img
              src={photo.src}
              alt={photo.alt}
              width="400"
              height="284"
              class="w-full h-[284px] object-cover"
            />
          ))}
      </section>

      <!-- Botones de navegación -->
      <section class="flex justify-between py-8">
        {previousPost && (
          <span class="nav-previous">
            <a href={previousPost} rel="prev">
              <span class="meta-nav">← </span><span class="nav-label">POST ANTERIOR</span>
            </a>
          </span>
        )}
        {nextPost && (
          <span class="nav-next">
            <a href={nextPost} rel="next">
              <span class="nav-label">SIGUIENTE POST</span><span class="meta-nav"> →</span>
            </a>
          </span>
        )}
      </section>

      <!-- Artículos Relacionados -->
      <section class="bg-white py-10">
        <h2 class="text-3xl text-center mb-6">Artículos Relacionados</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[3%] max-w-[1240px] mx-auto p-5">
          {relatedPosts.map((post) => {
            const imageSrc = post.frontmatter.image?.src || '/img/default-image.jpg'; 

            return (
              <a href={post.url} class="overflow-hidden flex flex-col transform transition-transform duration-300 hover:-translate-y-3">
                <div class="w-full h-auto overflow-hidden">
                  <img
                    decoding="async"
                    src={imageSrc}
                    alt={post.frontmatter.title}
                    class="w-full max-h-[450px] object-cover"
                    width="800"
                    height="450"
                  />
                </div>
                <div class="text-center my-2">
                  {post.frontmatter.tags?.map((tag: string) => (
                    <span class="font-semibold uppercase text-xs tracking-wide text-[#666] mx-1">{tag}</span>
                  ))}
                </div>
                <h2 class="text-3xl text-center">{post.frontmatter.title}</h2>
              </a>
            );
          })}
        </div>
      </section>
    </article>
  </div>
</Layout>
<style>
  .hero {
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), var(--bg-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
  }
</style>